<div class="sharing">
  {% if page.hn_id %}
    <div style="float: left; height: 20px; line-height: 20px; font-size: 20px; margin-right: 30px">
      <a href="https://news.ycombinator.com/item?id={{ page.hn_id }}">HN comments</a>
    </div>
  {% endif %}
  {% if site.twitter_tweet_button %}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
</div>
<style type="text/css">
  .sharing * {float: left !important;}
</style>
