// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article ol, article ul {
    margin-left: 2em;
}
article p+ul {
    margin-top: -1.5em;
}

.example-bad .highlight .line-numbers {
    background: #700011 !important;
}
.example-bad .highlight .line-numbers span {
    color: #888 !important;
}
.example-good .highlight .line-numbers {
    background: #005711 !important;
}
.example-good .highlight .line-numbers span {
    color: #999 !important;
}

.example-bad .highlight code {
    background: #480009 !important;
}
.example-good .highlight code {
    background: #003010 !important;
}
